# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.sqlite3
*.sqlite

# IDE
.vscode/
.idea/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.pyre/

# System files
.DS_Store
Thumbs.db

# Secrets and local dumps
.env
urls.txt
scripts/url.txt
