# Configuration de la base de données PostgreSQL
DB_NAME=video_interview_db
DB_USER=postgres
DB_PASSWORD=Bidou0204./
DB_HOST=localhost
DB_PORT=5432

# Configuration Django
SECRET_KEY=your-secret-key-here
DEBUG=True
